canvas {
	padding: 0;
	margin: auto;
	outline: none;
	display: block;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }
#TextAreaChatLog {
	background-color: white;
	border: 1px solid black;
	overflow: auto;
	word-wrap: break-word;
	padding: 0 !important;
}
.ChatMessage {
	position: relative;
	padding-left: 0.4em;
}
.ChatMessage::before {
	content: attr(data-time);
	float: right;
	color: gray;
	font-style: italic;
	font-size: 0.5em;
	margin-right: 0.2em;
}
.ChatMessage::after {
	content: attr(data-sender);
	position: absolute;
	color: gray;
	font-size: 0.3em;
	top: 1.6em;
	right: 0.2em;
}
.ChatMessageName {
	text-shadow: 0.05em 0.05em black;
}
.ChatMessageAction {
	color: gray;
}
.ChatMessageEmote {
	color: gray;
	font-style: italic;
}
.ChatMessageWhisper {
	font-style: italic;
	color: silver;
}
#TextAreaChatLog[data-ColorTheme=Dark i] {
	background-color: #111;
	color: #eee;
}
#TextAreaChatLog[data-ColorTheme=Dark i] .ChatMessageName {
	text-shadow: 0.05em 0.05em #eee;
}
#TextAreaChatLog[data-EnterLeave=Smaller i] .ChatMessageEnterLeave {
	font-size: 0.5em;
	text-align: center;
}
#TextAreaChatLog[data-EnterLeave=Hidden i] .ChatMessageEnterLeave {
	display: none;
}
#TextAreaChatLog[data-MemberNumbers=Never i] .ChatMessage::after,
#TextAreaChatLog[data-MemberNumbers=OnMouseover i] .ChatMessage::after {
	display: none;
}
#TextAreaChatLog[data-MemberNumbers=OnMouseover i] .ChatMessage:hover::after {
	display: block;
}
#TextAreaChatLog[data-DisplayTimestamps=false i] .ChatMessage::before {
	display: none;
}
#TextAreaChatLog[data-DisplayTimestamps=false i] .ChatMessage::after {
	top: 0;
}
#TextAreaChatLog[data-ColorNames=false] .ChatMessageName {
	color: inherit !important;
	text-shadow: none;
	font-weight: bold;
}
#TextAreaChatLog[data-ColorActions=false i] .ChatMessageAction {
	background-color: transparent !important;
}
#TextAreaChatLog[data-ColorEmotes=false i] .ChatMessageEmote {
	background-color: transparent !important;
}
#FriendList {
	border: 2px solid white;
	overflow: auto;
	word-wrap: break-word;
	padding: 0 !important;
	padding-bottom: 1% !important;
}
.FriendListRow{
	color: white;
}
.FriendListRow:Hover{
	color: yellow;
}
.FriendListFirstColumn{
	clear: left;
}
.FriendListTextColumn{
	float: left;
	width: 22%;
	text-align: center;
	padding-top: 1% !important;
}
.FriendListLinkColumn{
	float: left;
	width: 22%;
	text-align: center;
	padding-top: 1% !important;
	text-decoration: underline;
	cursor: pointer;
}
.FriendListLinkColumn:Hover{
	color: cyan !important;
}
