canvas {
	padding: 0;
	margin: auto;
	outline: none;
	display: block;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }
#TextAreaChatLog {
	background-color: white;
	border: 1px solid black;
	overflow: auto;
	word-wrap: break-word;
	padding: 0 !important;
}
.ChatMessage {
	position: relative;
	padding-left: 0.4em;
}
.ChatMessage::before {
	content: attr(data-time);
	float: right;
	color: gray;
	font-style: italic;
	font-size: 0.5em;
	margin-right: 0.2em;
}
.ChatMessage::after {
	content: attr(data-sender);
	position: absolute;
	color: gray;
	font-size: 0.3em;
	top: 1.6em;
	right: 0.2em;
}
.ChatMessageName {
	text-shadow: 0.05em 0.05em black;
}
.ChatMessageAction {
	color: gray;
}
.ChatMessageEmote {
	color: gray;
	font-style: italic;
}
.ChatMessageWhisper {
	font-style: italic;
	color: silver;
}
#FriendList {
	border: 2px solid white;
	overflow: auto;
	word-wrap: break-word;
	padding: 0 !important;
	padding-bottom: 1% !important;
	padding-left: 5% !important;
}
.FriendListRow{
	color: white;
}
.FriendListRow:Hover{
	color: yellow;
}
.FriendListFirstColumn{
	clear: left;
}
.FriendListTextColumn{
	float: left;
	width: 25%;
	text-align: center;
	padding-top: 1% !important;
}
.FriendListLinkColumn{
	float: left;
	width: 10%;
	text-align: center;
	padding-top: 1% !important;
	text-decoration: underline;
	cursor: pointer;
}
.FriendListLinkColumn:Hover{
	color: cyan !important;
}
